.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.middle {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.message-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
